.d-block{
    height: 400px;
}
.bd-placeholder-img{
    width: 200px;
    height: 250px;
}

.fut{
    padding-left: 55px;
}
.ab{
    padding-right: 55px;
}
.h{
    margin-top: 11px;
}
.conatiner{
    margin: 15px;
}
.d-grid{
    margin-left: 5px;
}
.row{
    margin: 4px;
}
